html {
  font-size: 2vmin;
}

.h1Title {
  font-size: 6vmin;
}


.header{
  margin-top: 5%;
  height: 30%;
  text-align: center;

}

.subtitle{
  height: 10%;
  margin-top: 2.5%;
}

.nav-section{
  height: 50%;
  margin-top: 10%;
}

.footer{
  margin-top:5%;
  height:10%;
  align-items: center;
}

.App-logo {
  width: 60%;
  margin-bottom: 2.5%;
}

.App {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  font-size: 3.5vmin;
  color: black;
}

.margin-app{
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.footer-icon {
  max-height: 8vmin;
}

.browsing-icon {
  max-height: 10vmin;
}

.nonStyleUl {
    list-style-type: none;
}

.responsiveDiv  { 
    position: relative; 
    width: 100%; 
 }

 .cityImg {
   opacity: 0.75;
   height: 50vh;
   width: 100%;
 }
 

 .overlayText{
  font-size: 4.5vmin;
  font-weight: bold;
  color: black;
  position: absolute; 
  top: 50%; 
  left: 0; 
  width: 100%; 
 }

.itineraryPrev {
 box-sizing: border-box;
 border-color: black;
 border-style: solid;
 border-width: 0.1vmin;
 margin: 0.1vmin 0.1vmin 0.1vmin 0.1vmin;
 clear: both
}

.userText{
  font-size: 2vmin;
}

.itinText {
  font-size: 2.5vmin;
}

.itinDetail {
  position: absolute;
  width: 100%;
  left: 0;
}

.userImg {
  max-height: 17vmin;
  max-width: 17vmin
}

.CarouselImg {
  opacity: 0.75;
  max-height: 40vmin; 
  max-width: 40vmin
}

.carouselCaption {
  font-size: 2.5vmin;
  font-weight: bold;
  color: white;
  position: absolute; 
  top: 10%; 
  left: 0; 
  width: 100%; 
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.btn-primary {
  padding: 0px !important;
  background-color: #ffffff!important;
  border-color: #ffffff !important;
}

.inlineForm {
  box-sizing: border-box;
}

